.filter {
  display: block;
  max-width: 380px;
  gap: 6px;
  margin-right: 50px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.input {
  background: #ffffff;
  font-size: 28px;
  padding: 8px 16px;
  width: 431px;
  margin-bottom: 12px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5);
}
