.block {
  display: flex;
  width: 100px;
  align-items: center;
}

.username {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-right: 5px;
  color: #b44e3c;
}

.logoutbutton {
  border: none;
  margin-top: 5px;
  color: #372930;
  font-weight: 600;
  background-color: #9f4636;
  /* border: 1px solid #253094; */
  font-size: 26px;
  padding: 8px 20px;
  /* width: 367px; */
  /* box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5); */
}

.logoutbutton:hover {
  background-color: #d05641;
}
