.block {
  display: flex;
  width: 100px;
  align-items: center;
}

.username {
  font-size: 36px;
  margin-right: 5px;
}

.logoutbutton {
  border: none;
  margin-top: 5px;
  color: rgb(8, 21, 43);
  background-color: rgb(152, 194, 233);
  /* border: 1px solid #253094; */
  font-size: 26px;
  padding: 8px 20px;
  /* width: 367px; */
  /* box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5); */
}
