body {
  display: block;
  background: #f1dcc9;
  padding: 10px 40px;
}

.list {
  padding: 6px;
  list-style: none;
}

.contact {
  width: 449px;
  display: flex;
  position: relative;
  padding: 4px;
  align-items: center;
  border: 2px solid #2c55a5;
  font-size: 22px;
  margin-bottom: 12px;
}

.loading {
  margin-top: 16px;
}

.delete {
  color: #020071;
  font-size: 30px;
  background: none;
  border: none;
  border-radius: 25px;
  padding: 3px 8px;
  position: absolute;
  right: 5px;
  bottom: 0.1px;
}
